.navWrapper {
	width: 30%;
	max-width: 320px;
	font-weight: 700;
	font-size: 1.2rem;
}

.navigation {
	position: fixed;
	box-sizing: border-box;
	top: 4rem;
	width: inherit;
	max-width: inherit;
	overflow-y: auto;
	height: calc(100vh - 4rem);
	padding: 1.5rem 0;
	padding-right: 1rem;
	background-color: var(--color-navigation);
	box-shadow: var(--color-shadow);
	backdrop-filter: blur(2rem);
	transition: background-color 0.5s var(--style-darkmode-transition),
		box-shadow 0.5s var(--style-darkmode-transition);
	z-index: 90;
}

.leafCategory {
	padding-left: 1rem;
	padding-top: 0.2rem;
}

.link {
	width: 100%;
	border-radius: 0.5rem;
	padding: 0.2rem 0.5rem;

	transition: background-color 0.4s cubic-bezier(0.16, 1, 0.3, 1);

	&:hover {
		background-color: var(--color-navigation-highlight);
	}
}

.selected {
	background-color: var(--color-navigation-highlight);
}

@media screen and (max-width: 1024px) {
	.navWrapper {
		width: 0;
		max-width: none;
	}

	.navigation {
		width: 100%;
		margin-left: -100%;
		border-right: none;

		transition-delay: 0s;
		transition-duration: 0.5s;
		transition-property: all;
		transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
		opacity: 0;

		&.open {
			margin-left: 0;
			opacity: 1;
		}
	}
}
