@use "./themes.scss" as *;
@tailwind base;

* {
	@apply break-words break-keep;
	@apply subpixel-antialiased;
}

html,
body {
	font-family: "Pretendard Variable", sans-serif;
	background-color: var(--color-bg);
	color: var(--color-text);

	transition: background-color var(--style-darkmode-transition),
		color var(--style-darkmode-transition);
}

body::-webkit-scrollbar {
	width: 0.7rem;
}

body::-webkit-scrollbar-thumb {
	background-color: black;
	border-radius: 1rem;
}

body::-webkit-scrollbar-track {
	border-radius: 1rem;
}
