@use "./themes.scss" as *;
@tailwind base;

* {
	@apply break-words break-keep;
	@apply subpixel-antialiased;
}

body {
	font-family: "Pretendard Variable", sans-serif;
	background-color: var(--color-bg);
	color: var(--color-text);

	//transition: background-color var(--style-darkmode-transition), color var(--style-darkmode-transition);
}

body::-webkit-scrollbar {
	width: 0.9rem;
}

body::-webkit-scrollbar-thumb {
	background-color: var(--color-scrollbar);
	border-radius: 1rem;
}

body::-webkit-scrollbar-track {
}

code::-webkit-scrollbar {
	height: 0.5rem;
}

code::-webkit-scrollbar-thumb {
	background-color: var(--color-scrollbar);
	border-radius: 1rem;
}
