// Light Theme
$bg-color-light: #fcfcfc;
$text-color-light: #000;
$text-bold-color-light: rgba(23, 21, 30, 0.15);
$toc-text-color-light: rgba(0, 0, 0, 0.6);
$toc-text-highlight-color-light: #000;

$box-color-light: #fff;
$box-border-color-light: #cccccc;

$border-color-light: #cacaca;

$shadow-color-light: 0px 1px 6px rgba(0, 0, 0, 0.1);

$header-left-color-light: #000;
$header-right-color-light: #fff;
$header-highlight-color-light: rgba(0, 153, 255, 0);

$navigation-color-light: rgba(255, 255, 255, 0.8);
$navigation-highlight-color-light: rgba(0, 0, 0, 0.2);

$scrollbar-color-light: #969696;

// Dark Theme
$bg-color-dark: #202124;
$text-color-dark: #fff;
$text-bold-color-dark: rgba(95, 95, 95, 0.9);
$toc-text-color-dark: rgba(255, 255, 255, 0.65);
$toc-text-highlight-color-dark: #fff;

$box-color-dark: #2d2d2e;
$box-border-color-dark: #3d3d3d;

$border-color-dark: #636363;

$shadow-color-dark: 0px 1px 6px rgba(0, 0, 0, 0.5);

$header-left-color-dark: #fff;
$header-right-color-dark: #000;
$header-highlight-color-dark: rgba(0, 153, 255, 0.5);

$navigation-color-dark: rgba(0, 0, 0, 0.75);
$navigation-highlight-color-dark: rgba(255, 255, 255, 0.3);

$scrollbar-color-dark: #d3d3d3;

// Deprecated
$darkmode-transition: 0s cubic-bezier(0.87, 0, 0.13, 1);
