// Light Theme
$bg-color-light: #fcfcfc;
$text-color-light: #000;

$box-color-light: #fff;
$box-border-color-light: #cccccc;

$border-color-light: #cacaca;

$header-left-color-light: #000;
$header-right-color-light: #fff;

$navigation-color-light: rgba(255, 255, 255, 0.8);

// Dark Theme
$bg-color-dark: #2c2c2c;
$text-color-dark: #fff;

$box-color-dark: #242424;
$box-border-color-dark: #5a5a5a;

$border-color-dark: #636363;

$header-left-color-dark: #fff;
$header-right-color-dark: #000;

$navigation-color-dark: rgba(0, 0, 0, 0.4);
