@use "./theme-values.scss" as *;

html[data-theme="light"] {
	--color-bg: #{$bg-color-light};
	--color-text: #{$text-color-light};
	--color-text-bold: #{$text-bold-color-light};
	--color-toc-text: #{$toc-text-color-light};
	--color-toc-text-highlight: #{$toc-text-highlight-color-light};
	--color-box: #{$box-color-light};
	--color-box-border: #{$box-border-color-light};
	--color-border: #{$border-color-light};
	--color-shadow: #{$shadow-color-light};
	--color-header-left: #{$header-left-color-light};
	--color-header-right: #{$header-right-color-light};
	--color-header-highlight: #{$header-highlight-color-light};
	--color-navigation: #{$navigation-color-light};
	--color-navigation-highlight: #{$navigation-highlight-color-light};
	--style-darkmode-transition: #{$darkmode-transition};
}

html[data-theme="dark"] {
	--color-bg: #{$bg-color-dark};
	--color-text: #{$text-color-dark};
	--color-text-bold: #{$text-bold-color-dark};
	--color-toc-text: #{$toc-text-color-dark};
	--color-toc-text-highlight: #{$toc-text-highlight-color-dark};
	--color-box: #{$box-color-dark};
	--color-box-border: #{$box-border-color-dark};
	--color-border: #{$border-color-dark};
	--color-shadow: #{$shadow-color-dark};
	--color-header-left: #{$header-left-color-dark};
	--color-header-right: #{$header-right-color-dark};
	--color-header-highlight: #{$header-highlight-color-dark};
	--color-navigation: #{$navigation-color-dark};
	--color-navigation-highlight: #{$navigation-highlight-color-dark};
	--style-darkmode-transition: #{$darkmode-transition};
}
