.header {
	position: fixed;
	width: 100%;
	padding: 0.5rem 1.5rem;
	background: linear-gradient(110deg, black 9.9rem, white 9.9rem);
	border-bottom: 1px solid;
	box-shadow: 0px 0px 10px -1px grey;
	z-index: 1;

	.text {
		display: inline;
		font-size: 2rem;
		color: white;
		mix-blend-mode: difference;
	}
}
