.heading {
	font-weight: 800;
	margin-top: 3rem;
	scroll-margin-top: 5rem;
}

.heading1 {
	font-size: 2.5rem;
	@media screen and (max-width: 1000px) {
		font-size: 2rem;
	}
}

.heading2 {
	font-size: 2rem;
	@media screen and (max-width: 1000px) {
		font-size: 1.7rem;
	}
}

.heading3 {
	font-size: 1.7rem;
	@media screen and (max-width: 1000px) {
		font-size: 1.5rem;
	}
}

.heading4 {
	font-size: 1.4rem;
	@media screen and (max-width: 1000px) {
		font-size: 1.2rem;
	}
}

.border {
	width: 100%;
	height: 1px;
	background-color: var(--color-border);
	transition: background-color var(--style-darkmode-transition);
	margin-top: 0.5rem;
	margin-bottom: 2rem;
}

.imageBox {
	padding-top: 2rem;

	.img {
		max-width: 80%;
		border-radius: 0.5rem;
		margin: 0 auto;
		box-shadow: var(--color-shadow);
		transition: box-shadow var(--style-darkmode-transition);

		@media screen and (max-width: 1000px) {
			max-width: 100%;
		}
	}

	.description {
		text-align: center;
		font-size: 0.8rem;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
}

.p {
	font-size: 1.1rem;
	font-weight: 300;
	line-height: 160%;
	margin: 1rem 0;
	letter-spacing: 0.2px;

	@media screen and (max-width: 1000px) {
		font-size: 1rem;
		font-weight: 400;
	}
}

.ul {
	margin-top: 0.5rem;

	.p {
		margin: 0.3rem 0;
	}

	.li {
		font-size: 1.1rem;
		font-weight: 300;
		padding: 0.5rem 0 0.5rem 0.5rem;
		list-style-type: disc;
		margin-left: 2rem;

		@media screen and (max-width: 1000px) {
			font-size: 1rem;
			font-weight: 400;
		}
	}
}

.ol {
	.p {
		margin: 0.3rem 0;
	}

	.li {
		font-size: 1.1rem;
		font-weight: 300;
		padding: 0.5rem 0 0.5rem 1rem;
		list-style-type: decimal;
		margin-left: 2rem;

		@media screen and (max-width: 1000px) {
			font-size: 1rem;
			font-weight: 400;
		}
	}
}

[id="목차"] + .border + .ul {
	margin-left: 2rem;
	margin-bottom: 5rem;
	font-weight: 700;
	color: var(--color-toc-text);

	.ul {
		margin-top: 0;
	}

	.li {
		font-size: 1.3rem;
		font-weight: 700;
		padding: 1rem 0 0 0.5rem;
		list-style-type: disc;
		margin-left: 1.5rem;
	}

	.a {
		font-style: normal;
		font-weight: 700;
		opacity: 100%;
		background: none;
		padding: 0;
		transition: color 0.2s cubic-bezier(0.16, 1, 0.3, 1);

		&:hover {
			color: var(--color-toc-text-highlight);
		}
	}
}

.strong {
	font-weight: 600;
	color: var(--color-text);
	//background-color: var(--color-text-bold);
	border-radius: 0.3rem;
	//padding: 0.1rem 0.4rem;
	transition: color var(--style-darkmode-transition),
		background-color var(--style-darkmode-transition);
}

.hr {
	margin: 1.8rem 0;
	border: none;
	text-align: center;
	height: auto;

	&:before {
		content: "\2022 \2022 \2022";
		font-size: 2rem;
		color: var(--color-border);
		transition: color var(--style-darkmode-transition);
	}
}

.a {
	text-decoration: none;
	color: inherit;
	opacity: 50%;
	font-style: italic;
	font-weight: 300;
	padding: 0 0.1rem 0.3rem 0.1rem;
	margin-right: 0.3rem;

	background: linear-gradient(to right, var(--color-text), var(--color-text)),
		linear-gradient(
			to right,
			rgba(255, 0, 0, 1),
			rgba(255, 0, 180, 1),
			rgba(0, 100, 200, 1)
		);
	background-size: 100% 2px, 0 2px;
	background-position: 100% 100%, 0 100%;
	background-repeat: no-repeat;
	transition: background-size 400ms;

	&:hover {
		background-size: 0 2px, 100% 2px;
	}
}

.blockquote {
	border-left: 5px solid rgba(0, 170, 0, 0.7);
	background-color: rgba(0, 212, 0, 0.03);
	padding: 1rem 1rem;
	margin: 2rem 0;

	.title {
		display: flex;
		align-items: center;

		.svg {
			fill: rgba(0, 170, 0, 0.7);
			width: 1.3rem;
			height: 1.3rem;
			margin-right: 0.5rem;
		}

		font-size: 1.2rem;
		font-weight: 500;
		color: rgba(0, 130, 0, 0.7);
		padding-bottom: 1rem;
	}

	.content {
		p {
			margin: 0;
			padding-left: 1rem;
			line-height: 2rem;
		}
	}
}

.tableContainer {
	margin: 3rem 0;
	padding: 1rem;
	border-radius: 1rem;
	border: 1px solid var(--color-border);
	box-shadow: var(--color-shadow);
	overflow: auto;

	.table {
		width: 100%;
		margin: 0 auto;

		th {
			padding: 1rem;
			border-radius: 1rem;
		}

		tbody {
			margin-top: 1rem;
		}

		td {
			padding: 0.9rem 1rem;
		}

		:not(:last-child)td {
			border-bottom: 1px solid var(--color-border);
		}
	}
}
