.footer {
	width: 100%;
	margin-top: 5rem;
	border-top: 1px solid var(--color-border);
	transition: border var(--style-darkmode-transition);
}

.content {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 2rem 7.5%;
}
